.page-footer{
    background-color: whitesmoke;
    margin-top: 10px;
    opacity: 0.9;
    
    
}
.nav-wrapper{
    background-color: black;
    opacity: 0.9;    
}
body{
    background-image: url("../images/Amazing.jpg")
}
.carousel .carousel-item {
    width:500px;
    position: absolute;
    top: -100px;
    left: 0;
    font-size: 24px;
    color: black;
    text-align: center;
}

#commentStyle{
    opacity: 0.9;    
    background-color:gainsboro;
    width: 100%;
    padding: 5px;
}
#aboutStyle{
    opacity: 0.9;    
    
}
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.fixed-action-btn{
    position: sticky;
}
